<nav class="desk">
  <ul role="list" class="desk-nav">
    <li>
      <a href="/" class="nav-item-desk link home hvr-grow">Home</a>
    </li>
    <li>
      <a href="/blogs/" class="nav-item-desk link blogs hvr-grow">Blogs</a>
    </li>
  </ul>
</nav>
