html, body,
*{
font-size: 1.2rem;
margin: 0;
list-style-type: none;
}

:root{
--primary: #776885;
--secondary: #5F1A37;
--black: #000000;
}

body{
background: var(--primary);
}

.container {
display: flex;
margin: auto;
flex-direction: column;
text-align: center;
}

.nav {
width: 100%;
height: 4rem;

background: var(--secondary);
border: 1px solid var(--black);
box-sizing: border-box;

display: flex;
justify-content: flex-end;
align-items: center;
}

.desk-nav{
display: flex;
max-height: 4rem;
justify-content: flex-end;
align-items: center;
}

.nav-container{}

.link{
margin-right: 5rem;
background-color: var(--primary);
color: var(--secondary);
padding: .5rem;
border-radius: .5rem;

font-family: 'Work Sans', sans-serif;
font-weight: 750;
}

.header-container{
width: 100%;
height: 100%;

text-shadow: .08rem .08rem rgba(0, 0, 0, 0.25);
}

.header-title{
width: 40rem;

padding-top: 5rem;
padding-left: 15%;

font-family: 'Work Sans', sans-serif;
font-weight: 400;
font-size: 4rem;

color: var(--secondary);
}

.header-desc {
width: 40rem;

padding-top: 5rem;
padding-left: 15%;

font-family: 'Work Sans', sans-serif;
font-weight: 400;

color: var(--secondary);
}